
.wrapper {
    background-color: #e9faff;
    padding: 15px;
    h4 {
        margin: 0 auto 15px 25px;
    }
    .section-header{
        margin: 10px;
        font-weight:400;
        font-size: 20px;
    }
    .section {
      background-color: white;
      margin: 15px 25px 15px 25px;
    }
    .section-body {
        margin: 10px;
    }
  }
  