<div class="wrapper">
    <h2>{{title}}</h2>
    <div *ngFor="let section of form.controls | controls" class="section">
        <span class="section-header">{{section.label}}</span>
        <div *ngFor="let control of section.controls | controls" class="section-body">
            <div>{{control.label}}<span *ngIf="control.required" style="color: red"> *</span></div>
            <app-dynamic-form-element-component [control]="control"></app-dynamic-form-element-component>
        </div>
    </div>
</div>
 
<ng-template #text let-control>
    <input type="text" [formControl]="control">
</ng-template>

<ng-template #date let-control>
        <input type="text"
        placeholder="Datepicker"
        class="form-control"
        [formControl]="control"
        bsDatepicker>
</ng-template>
